 
  <div class="site-wrapper overflow-hidden ">
 <!-- ContentTwo Area -->
    <!-- footer area function start -->
    <!-- cta section -->
    <footer class="footer bg-ebony-clay dark-mode-texts">
        <div class="container">
          <!-- Cta section -->
          <div class="pt-11 pt-lg-20 pb-13 pb-lg-20 border-bottom border-width-1 border-default-color-2">
            <div class="row justify-content-center ">
              <div class="col-xl-7 col-lg-12" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                <!-- cta-content start -->
                <div class="pb-xl-0 pb-9 text-xl-left text-center">
                  <h2 class="text-white font-size-8 mb-4">Most comprehensive job portal</h2>
                  <p class="text-hit-gray font-size-5 mb-0">We must explain to you how all this mistaken idea of denouncing</p>
                </div>
                <!-- cta-content end -->
              </div>
              <div class="col-xl-5 col-lg-12" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                <!-- cta-btns start -->
                <div class="btns d-flex justify-content-xl-end justify-content-center align-items-xl-center flex-wrap h-100  mx-n4">
                  <a class="btn btn-outline-gallery btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#login">Log in</a>
                  <a class="btn btn-green btn-h-60 btn-xl mx-4 mt-6 text-uppercase" href="#" data-toggle="modal" data-target="#signup">Register</a>
                </div>
                <!-- cta-btns end -->
              </div>
            </div>
          </div>
        </div>
        <div class="container  pt-12 pt-lg-19 pb-10 pb-lg-19">
          <div class="row">
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-9">
              <!-- footer logo start -->
              <img src="assets/image/logo-main-white.png" alt="" class="footer-logo mb-14">
              <!-- footer logo End -->
              <!-- media start -->
              <div class="media mb-11">
                <img src="assets/image/l1/png/message.png" class="align-self-center mr-3" alt="">
                <div class="media-body pl-5">
                  <p class="mb-0 font-size-4 text-white">Contact us at</p>
                  <a class="mb-0 font-size-4 font-weight-bold" href="mailto:support@uxtheme.net">support@uxtheme.net</a>
                </div>
              </div>
              <!-- media start -->
              <!-- widget social icon start -->
              <div class="social-icons">
                <ul class="pl-0 list-unstyled d-flex align-items-end ">
                  <li class="d-flex flex-column justify-content-center px-3 mr-3 font-size-4 heading-default-color">Follow us on:</li>
                  <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-facebook-f font-size-3 pt-2"></i></a></li>
                  <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-twitter font-size-3 pt-2"></i></a></li>
                  <li class="d-flex flex-column justify-content-center px-3 mr-3"><a href="#" class="hover-color-primary heading-default-color"><i class="fab fa-linkedin-in font-size-3 pt-2"></i></a></li>
                </ul>
              </div>
              <!-- widget social icon end -->
            </div>
            <div class="col-lg-8 col-md-6">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                  <div class="footer-widget widget2 mb-md-0 mb-13">
                    <!-- footer widget title start -->
                    <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Company</p>
                    <!-- footer widget title end -->
                    <!-- widget social menu start -->
                    <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">About us</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Contact us</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Careers</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Press</a></li>
                    </ul>
                    <!-- widget social menu end -->
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                  <div class="footer-widget widget3 mb-sm-0 mb-13">
                    <!-- footer widget title start -->
                    <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Product</p>
                    <!-- footer widget title end -->
                    <!-- widget social menu start -->
                    <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Features </a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Pricing</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">News</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Help desk</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Support</a></li>
                    </ul>
                    <!-- widget social menu end -->
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                  <div class="footer-widget widget4 mb-sm-0 mb-13">
                    <!-- footer widget title start -->
                    <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Services</p>
                    <!-- footer widget title end -->
                    <!-- widget social menu start -->
                    <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Digital Marketing</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">SEO for Business</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Avasta Dash</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">UI Design</a></li>
                    </ul>
                    <!-- widget social menu end -->
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-3 col-xs-6">
                  <div class="footer-widget widget4">
                    <!-- footer widget title start -->
                    <p class="widget-title font-size-4 text-gray mb-md-8 mb-7">Legal</p>
                    <!-- footer widget title end -->
                    <ul class="widget-links pl-0 list-unstyled list-hover-primary">
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Privacy Policy</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Terms & Conditions</a></li>
                      <li class="mb-6"><a class="heading-default-color font-size-4 font-weight-normal" href="#">Return Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer area function end -->
    </div>