<div class="dashboard-sidebar-wrapper pt-11" id="sidebar">
    <div class="brand-logo px-11">
      <a href="https://shade.uxtheme.net/shade-pro">
        <img src="assests/image/logo-main-black.png" alt="">
      </a>
    </div>
    <div class="my-15 px-11">
      <a href="#" class="btn btn-primary btn-xl w-100 text-uppercase"><span class="mr-5 d-inline-block">+</span>Post a new job</a>
    </div>
    <ul class="list-unstyled dashboard-layout-sidebar">
      <li class="active"><a href="/admin" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="icon icon-layout-11 mr-7"></i>Dashboard</a></li>
      <li class=""><a href="dashboard-posted-jobs.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-briefcase mr-7"></i>Posted Jobs</a></li>
      <li class=""><a href="dashboard-posted-applicants.html" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-user mr-7"></i>Applicants <span class="ml-auto px-1 h-1 bg-dodger text-white font-size-3 rounded-5 max-height-px-18 flex-all-center">14</span></a></li>
      <li class=""><a href="/reclamations" class="px-10 py-1 my-5 font-size-4 font-weight-semibold flex-y-center"><i class="fas fa-cog mr-7"></i>Reclamations</a></li>
    </ul>
  </div>
  <a class="sidebar-mobile-button" data-toggle="collapse" href="#sidebar" role="button" aria-expanded="false" aria-controls="sidebar">
    <i class="icon icon-sidebar-2"></i>
  </a>